body {
  background: black;
}

#lbl {
  color: azure;
}

#game {
  border: 5px solid gray;
}

.background {
  background: rgb(2, 2, 2);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(230, 0, 0);
}

.wall {
  background: rgb(77, 75, 231);
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(253, 232, 1);
}

.player {
  background: rgb(188, 189, 189);
}

.lost .player {
  background: rgb(255, 0, 0);
}

.won .player {
  /* box-shadow: -4px -7px 8px white, 4px -7px 8px white; */
  background: rgb(0, 209, 0);
}

.game {
  overflow: hidden;
  /* margin-left: 50%;
  margin-right: 50%; */
  max-width: 100%;
  max-height: 300px !important;
  height: 40% !important;
  position: relative;
}

@media screen and (min-height: 600px) {
  .game {
    max-height: 100% !important;
  }
  /* #mv-btn{
    display: none;
  } */
}

@media only screen and (min-width: 480px) {
  #mv-btn {
    display: none;
  }
}

#mv-btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#mv-btn button {
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  /* all: unset; */
  border: 1px solid rgb(66, 66, 66);
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  font-size: 14px !important;
}

#mv-btn button:hover {
  font-size: 14px !important;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  border: 1px solid gray;
  background: rgb(209, 209, 209);
  color: rgb(51, 51, 51);
  
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

#lbl {
  font-family: monospace;
  font-size: 15px;
}